# Qdrant Local Isolated Database
# Reserved by a 3rd party. Not for use by this application.
.qdrant_storage/
storage/
snapshots/
.qdrant-initialized

# Roo/Zoo Code
.rooignore

# Raw Data
corpus/
data/

# Python
*.pyc
.pytest_cache/
.venv
docs/scryfall_api_documentation.md
